*{
    background-color: rgb(185, 224, 247);
}

h1 {
    text-align: center;
    font-size: 55px;
    color: rgb(57, 105, 133);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 5px solid white;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(57, 105, 133);
    font-size: 30px;
}

p {
    text-align: center;
    background-color: rgb(222, 241, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left; 
    font-weight: bold;
    font-size: 15px;
}

ol {
    display: table; 
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    margin-bottom: 50px;
    font-size: 20px;
}

li {
    margin: 10px;
}